<header>
    <section>
      <img src="./imagens/Logo-Verde.png" class="logo-custom">
      <ul class="nav justify-content-center menu">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicos">A Esquema</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#quemsomos">Anuncie seu imóvel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faleconosco"> Imóveis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faleconosco"> Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faleconosco"> Inspire-se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faleconosco"> Blog </a>
        </li>

      <ul class="nav justify-content-center menu">
        <li class="nav-item">
          <a class="nav-link" href="#prontos"> PRONTOS E USADOS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faleconosco"> COMERCIAL </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#praia"> PRAIA </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#campo"> CAMPO </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#internacional"> INTERNACIONAL </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#bens"> ADMINISTRAÇÃO DE BENS </a>
        </li>
      <img src="./imagens/Lupa-Verde.png" class="lupa">
      <img src="./imagens/lupa (1).png" class="boneco">
    </section>
  </header>