@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html, body, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, [type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

p {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}

header li:hover {
  border-bottom: #079897 solid 2px;
}

header .logo {
  height: 65px;
}

header .btn-top {
  background-color: #079897;
  color: #fff;
  padding: 09px 14px;
  border: 2px solid white;
}

.map {
  width: 100%;
  height: 550px;
}

.fake {
  height: 450px;
  width: 36 0px;
}

.bloco {
  text-align: center;
  height: auto;
  margin: 60px;
}

.bloco p {
  color: #AC8B42;
  margin-bottom: 0;
}

.bloco h1 {
  font-size: 36px;
  color: black;
  font-weight: 800;
}

.bloco h5 {
  color: black;
  font-size: 13px;
}

.main-content {
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../fakes/sadasdas.jpg);
  background-position: inherit;
  background-repeat: no-repeat;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .main-content {
    background-image: url("../images/Mobile (1).png");
    height: 380px;
    background-position: center;
  }
}

.main-content h1 {
  font-size: 19px;
  margin: 0;
  color: black;
  font-weight: 800;
}

.main-content hr {
  background-color: black;
  height: 2px;
  border-top-width: 1px;
}

.main-content p {
  text-align: right;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  font-size: 22px;
  color: black;
  font-weight: 900;
}

.main-content .btn-sim {
  width: inherit;
  margin: 15px;
  padding: 15px 15px;
  background-color: black;
  color: white;
  font-weight: 800;
  padding: 09px 14px;
}

.card {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
}

.card .card-img-top {
  height: 270px;
  width: 100%;
}

.instagram {
  height: 780px;
  color: white;
  background-image: url("../images/Background 1 (1).png");
  background-color: #10B0B0;
  background-position: inherit;
  background-repeat: no-repeat;
}

.instagram h3 {
  padding-top: 300px;
}

.instagram .icons img {
  height: 70px;
}

/* footer */
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #10B0B0;
  height: auto;
  color: white;
}

footer a {
  color: white;
  font-size: 🇲🇸  sans-serif;
}

footer p {
  margin: 12px;
  font-size: 20px;
  font-family: 🇲🇸 sans-serif;
}

footer .title-footer {
  font-size: 20px;
  font-weight: 900;
}

.copy-right {
  padding: 10px 0 0;
  border-top: solid 1px black;
  background-color: black;
  color: white;
  font-size: 13px;
  padding-bottom: 10px;
}

.copy-right a {
  color: yellow;
}

/* Pagina contato */
.banner-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  background-image: url(../fakes/banner-contact.png);
  background-position: right;
}

.banner-contato h2 {
  color: white;
}

.form-contato .personal-info {
  list-style: none;
  text-align: left;
}

.form-contato .personal-info li {
  margin-bottom: 10px;
}

.form-contato .btn-footer {
  background-color: black;
  color: white;
  height: 3em;
  width: 12em;
}
/*# sourceMappingURL=main.css.map */