@import "./resets";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$primary-color: #079897;
$secundary-color: #fff;


header {
    li:hover {
    border-bottom: $primary-color solid 2px;
    }

    .logo {
        height: 65px;
    }

    .btn-top {
        background-color: $primary-color;
        color: $secundary-color;
        padding: 09px 14px;
        border: 2px solid white;
    }
}

.map {
    width: 100%;
    height: 550px;
}

.fake {
    height: 450px;
    width: 36 0px;
}

.bloco {
    @include bloco();
}

.main-content{
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../fakes/sadasdas.jpg);
    background-position: inherit;
    background-repeat: no-repeat;
    color: $secundary-color;

   h1 {
        font-size: 19px;
        margin: 0;
        color: black;
        font-weight: 800;
    }

    hr {
        background-color: black;
        height: 2px;
        border-top-width: 1px;
        }
    
    p {
        text-align: right;
        margin: 0;
        margin-top: -10px;
        padding: 0;
        font-size: 22px;
        color: black;
        font-weight: 900;
    }

    .btn-sim {
        width: inherit;
        margin: 15px;
        padding: 15px 15px;
        background-color:black;
        color: white;
        font-weight: 800;
        padding: 09px 14px;
    }
}

.card {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.05);
    
    .card-img-top {
        height: 270px;
        width: 100%;
    
    }
}

.instagram {
    height: 780px;
    color: white;
    background-image: url('../images/Background\ 1\ \(1\).png');
    background-color: #10B0B0;
    background-position: inherit;
    background-repeat: no-repeat;

    h3 {
        padding-top: 300px;
    }

    .icons img {
        height: 70px;
    }
}

/* footer */
footer {
    background-color: #10B0B0;
    height: 16em;
    color: white;
    // background-image: url(../fakes/patern.jpg);
    // background-position: center;
    a {
        color: white;
    }

    p {
        margin: 2px;
        font-size: 20px;
        font-family: 🇲🇸 sans-serif;
    }
    .title-footer {
        font-size: 20px;
        font-weight: 900;
    }
    
    .btn-footer {
        
    }
    
}


.copy-right {
    padding: 10px 0 0;
    border-top: solid 1px black;
    color: #7f7f80;
    font-size: 13px;
    a {
         color: #10B0B0;
     }

}



/* Pagina contato */ 
.banner-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url(../fakes/patern.jpg);
    background-position: center;

    h2{
        color: white;
    }
}

.form-contato {
    border: 1px solid black;
}
